@font-face {
  font-family: 'TT Commons';
  src: url('../fonts/TT Commons Regular.otf') format('otf'),
  url('../fonts/TT Commons Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;